@model CardEditorModel

@section pageTitle {
    <span>Edit card</span>
}

@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="border border-secondary rounded h-50 mb-2" style="width: 40% !important">
                <input type='file' />
                <img alt="Drop image here" id="outImage">
            </div>

            <div>
                <input placeholder="Description" />
            </div>
        </div>

        <ul>

        </ul>
    </div>
</div>
