@model AboutModel

@section pageTitle {
    <span>About</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-inline dropdown">
            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @Model.Username
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">Sign up</a>
    }
}

<div class="container">
    <h3 class="mb-3">Dev team!</h3>
    <div class="row">
        <div class="col">
            <label>Бондаренко Анастасія</label>

            <div class="d-flex">
                <div class="mr-3">
                    <img src="~/img/Devs/nb.png" class="rounded" style="width: 250px !important" />
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="col">
            <label>Пилипчук Сергій</label>

            <div class="d-flex">
                <div class="mr-3">
                    <img src="~/img/Devs/sp.png" class="rounded" style="width: 250px !important" />
                </div>
            </div>
        </div>
    </div>


    <div class="dropdown-divider"></div>
    <div class="row">
        <div class="col">
            <label>Подоляк Артем</label>

            <div class="d-flex">
                <div class="mr-3">
                    <img src="~/img/Devs/ap.png" class="rounded" style="width: 250px !important" />
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="col">
            <label>Шимків Максим</label>

            <div class="d-flex">
                <div class="mr-3">
                    <img src="~/img/Devs/ms.png" class="rounded" style="width: 250px !important" />
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div>
    </div>
</div>
