@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Home</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Logout" asp-controller="Account">Logout</a>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
            Log in
        </a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
            Sign up
        </a>
    }
}

<h4>Welcome to Memento!</h4>