@model SettingsModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Settings</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-inline dropdown">
            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @User.Identity.Name
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="Account">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">Sign up</a>
    }
}

<div class="container mt-5">
    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 text-center" for="hrs-per-day">Daily Milestone (hrs)</label>
            <div class="col-lg-3" align="center">
                <input class="form-control w-50" type="text" id="hrs-per-day" value="3.5">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 text-center" for="cards-per-day">Daily Milestone (cards)</label>
            <div class="col-lg-3" align="center">
                <input class="form-control w-50" type="text" id="cards-per-day" value="24">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 text-center" for="card-order">Card Order (by difficulty)</label>
            <div class="col-lg-3">
                <div class="row justify-content-center" id="card-order">
                    <div class="col-sm-6">
                        <select class="mdb-select rounded btn-outline-primary">
                            <option value="Random">Random</option>
                            <option value="Ascending">Ascending</option>
                            <option value="Descending">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 text-center" for="dark-theme">Dark Theme</label>
            <input class="col-lg-3" type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary" id="dark-theme">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-lg-3 text-center" for="show-images">Show Images</label>
            <input class="col-lg-3" type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary" id="show-images" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" align="center">
            <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Settings</button>
        </div>
    </div>
</div>