@model SettingsModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Settings</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-inline dropdown">
            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @User.Identity.Name
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="Account">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">Sign up</a>
    }
}

<div class="col-lg-8 pb-5">
    <form class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="hrs-per-day">Daily Milestone (hrs)</label>
                <input class="form-control" type="text" id="hrs-per-day" value="3.5">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="cards-per-day">Daily Milestone (cards)</label>
                <input class="form-control" type="text" id="cards-per-day" value="24">
            </div>
        </div>
        @*<div class="col-md-5">
            <div class="form-group">
                <label for="account-email">E-mail Address</label>
                <input class="form-control" type="email" id="account-email" value="daniel.adams@example.com" disabled="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="account-phone">Phone Number</label>
                <input class="form-control" type="text" id="account-phone" value="+7 (805) 348 95 72" required="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="account-pass">New Password</label>
                <input class="form-control" type="password" id="account-pass">
            </div>
        </div>*@
        <div class="col-12">
            <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Settings</button>
        </div>
    </form>
</div>