@model YourCollectionModel

@section pageTitle {
    <span>Your Collection</span>
}
@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<form method="get" asp-action="YourCollection" asp-controller="Home" class="row ml-3 mb-4">
    <input placeholder="Search" asp-for="SearchFilter" class="col-xs-6 mr-1" />
    <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
</form>

@foreach (var deck in Model.YourDecks)
{
    <p>@deck.Name</p>

    <a class="btn btn-primary" href="#">Play</a>

    <a class="btn btn-outline-primary"
       asp-action="DeckPage"
       asp-controller="Home"
       asp-route-deckId="@deck.Id">
        View Details
    </a>

    <a class="btn btn-outline-danger"
       asp-action="RemoveDeckFromCollection"
       asp-controller="Home"
       asp-route-deckId="@deck.Id">
        Remove from collection
    </a>
}
