<form action="/Statistics/Graphs" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
    <div class="container">
        <div class="row justify-content-end align-items-start ">
            <div class="col-md-3">
                <div class="row justify-content-center align-items-start ">
                    <input class="btn btn-outline-info btn-sm" type="submit" value="Graphs"/>
                    <a class="btn btn-outline-info btn-sm offset-1" asp-action="Settings" asp-controller="Settings">Set milestones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8" style="height:auto;">
        <div class="d-table">
            <label for="hoursPB" class="d-table-row text-center">Hours</label>
            <div class="diamond-progress-bar" id="hoursPB">
                <div class="fill" id="fillHours">
                    <div class="left" id="leftHours">
                        <div class="mezha">
                        </div>
                    </div>
                    <div class="right" id="rightHours">
                        <div class="mezha">
                        </div>
                    </div>
                </div>
                <div class="background">
                </div>
            </div>
        </div>

        <div class="w-100 d-inline-flex justify-content-center" >
            <p class="border border-info text-center align-content-center align-items-center d-flex" id="average" style="width: 100px; height: 100px; border-width: 5px !important"></p>
        </div>
        
        <div class="justify-content-end w-100 d-inline-flex">
            <div class="d-table">
                <label for="cardsPB" class="d-table-row text-center">Cards</label>
                <div class="diamond-progress-bar" id="cardsPB">
                    <div class="fill" id="fillCards">
                        <div class="left" id="leftCards">
                            <div class="mezha">
                            </div>
                        </div>
                        <div class="right" id="rightCards">
                            <div class="mezha">
                            </div>
                        </div>
                    </div>
                    <div class="background">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    function updateHoursPercentage(percent) {
        if (percent > 50) {
            var thisPercent = (percent - 50) * 2;
            $('#fillHours #leftHours').css('top', 100 - thisPercent + '%');
            $('#fillHours #rightHours').css('bottom', 0);
        } else {
            $('#fillHours #leftHours').css('top', '100%');
            $('#fillHours #rightHours').css('bottom', 100 - (percent * 2) + '%');
        }
    }

    function updateCardsPercentage(percent) {
        if (percent > 50) {
            var thisPercent = (percent - 50) * 2;
            $('#fillCards #leftCards').css('top', 100 - thisPercent + '%');
            $('#fillCards #rightCards').css('bottom', 0);
        } else {
            $('#fillCards #leftCards').css('top', '100%');
            $('#fillCards #rightCards').css('bottom', 100 - (percent * 2) + '%');
        }
    }

    //updatePercentage($('.percentage').val());

    //$('.percentage').on('change', function () {
    //    updatePercentage($(this).val());
    //});
    //function fuckme() {


        $.get('GetTodayStats',
            function (jsonData) {
                //debugger
                updateHoursPercentage(jsonData[1][0]);
                updateCardsPercentage(jsonData[1][2]);

                var replaceText = "Average hours: " + jsonData[1][1];

                $("#average").html(replaceText);
                //$("#fordebug").html(jsonData[1][0]);
                //updatePercentage(data.Hours);
                //$("#fordebug").append(jsonData.hours);
                //if (data.hours > 50) {
                //    var thisPercent = (data.hours - 50) * 2;
                //    $('.fill .left').css('top', 100 - thisPercent + '%');
                //    $('.fill .right').css('bottom', 0);
                //} else {
                //    $('.fill .left').css('top', '100%');
                //    $('.fill .right').css('bottom', 100 - (data.hours * 2) + '%');
                //}

            }
        )

    //}
    //function updatePercentage() {
    //    $.get('GetTodayStats',
    //        function (jsonData) {
                
    //            if (jsonData.hours > 50) {
    //                var thisPercent = (jsonData.hours - 50) * 2;
    //                $('.fill .left').css('top', 100 - thisPercent + '%');
    //                $('.fill .right').css('bottom', 0);
    //            } else {
    //                $('.fill .left').css('top', '100%');
    //                $('.fill .right').css('bottom', 100 - (jsonData.hours * 2) + '%');
    //            }
    //        }
    //    )
    //}
</script>
