<form action="/Statistics/Graphs" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
    <div class="container">
        <div class="row justify-content-end align-items-start ">
            <div class="col-md-3">
                <div class="row justify-content-center align-items-start ">
                    <input class="btn btn-outline-info btn-sm" type="submit" value="Graphs"/>
                    <a class="btn btn-outline-info btn-sm offset-1" asp-action="Settings" asp-controller="Settings">Set milestones</a>
                </div>
            </div>
        </div>
    </div>
    <section class="progress-section d-inline">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="progress-bars">
                        <h2>85%</h2>
                    </div><!--progress-bars-->
                </div>
                <div class="col-md-3">
                    <div class="progress-bars-four">
                        <h2>55%</h2>
                    </div><!--progress-bars-->
                </div>

                <div class="col-md-3">
                    <div class="progress-bars-six">
                        <h2>65%</h2>
                    </div><!--progress-bars-->
                </div>
            </div>
        </div>
    </section>
</form>
