@model PlayModel

@section pageTitle {
    <span>Play</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-inline dropdown">
            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @User.Identity.Name
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">Sign up</a>
    }
}

<style>
    ul#menu li {
        display: inline;
        font-size: 55pt;
        margin: 0 15PX;
    }

    button {
        font-size: 24pt;
        border-radius: 25px;
        border: solid 5px #0061f3;
        background-color: white;
        padding: 0 20px;
        color: #0061f3;
    }

        button:hover {
            background-color: #0061f3;
            color: white;
        }

    h1 {
        text-align: right;
        margin: 0 5% 0 0;
    }

    .b {
        border: solid 5px;
        border-radius: 25px;
    }

    .a {
        align-content: center;
    }


    hr {
        width: 50%;
        margin-left: auto;
        margin-right: 10px;
        border-top: solid 3px;
    }

    .center {
        margin: auto;
        height: 100%;
        width: 100%;
    }
</style>

<div class="play-section container">
    <div class="row">

        <div class="col-4 b">

            <img class="col center b" src="/img/Card.png">

        </div>

        <div class="col-8 b">
            <h1>@Model.CurrentCard.Word</h1>
            <hr>
            <h1>@Model.CurrentCard.Transcription</h1>
            <hr>
            <p style="text-align:center; font-size:24pt;">@Model.CurrentCard.Description</p>

            <ul id="menu" class="text-center">
                @*<li><button asp-controller="PlayController" asp-action="NextCard">Trivial</button></li>*@
                <li><a class="nav-link" asp-action="NextCard" asp-controller="Play">Play</a></li>
                <li><button>Got it</button></li>
                <li><button>Again</button></li>
            </ul>
        </div>
    </div>

</div>