@{
    Layout = "_Layout";
}

@section pageTitle {
    <span>Forgot Password</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
        Log in
    </a>

    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}

<h4>
    If you have an account, we have sent you an email,
    with the instructions to reset your password.
</h4>
