@model ForgotPasswordModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Forgot Password</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
        Log in
    </a>

    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}
<div class="col-xs-1" align="center">
    <h5 class="bg-primary text-white text-center p-2 w-50">Forgot Password</h5>

    <form method="post" class="w-50">
        <div asp-validation-summary="All" class="text-danger" align="left"></div>

        <div class="form-group" align="left">
            <label asp-for="Email"></label>
            <div asp-validation-for="Email" class="text-danger"></div>
            <input asp-for="Email" class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
