@model LoginModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Log in</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}

<div class="m-1 p-1">
    <div class="text-danger" asp-validation-summary="All"></div>

    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="form-group">
            <label asp-for="Name"></label>
            <div asp-validation-for="Name" class="text-danger"></div>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div asp-validation-for="Password" class="text-danger"></div>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>