@model LoginModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Log in</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}
<h5 class="bg-primary text-white text-center p-2">Log in</h5>
