@model ProfileSettingsModel

@section pageTitle {
    <span>Profile Settings</span>
}
@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small active" href="#">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 pb-5">
            <form class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-username">Username</label>
                        <input class="form-control" type="text" id="account-username" value="@Model.Username" required="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-email">E-mail Address</label>
                        <input class="form-control" type="email" runat="server" id="account-email" value="@Model.Email" disabled="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-pass">New Password</label>
                        <input class="form-control" type="password" id="account-pass">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-confirm-pass">Confirm Password</label>
                        <input class="form-control" type="password" id="account-confirm-pass">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Profile</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 pb-5">
            <div class="row justify-content-md-center">
                <div class="col-lg-4 align-self-end">
                    <img src="https://www.peoples.ru/character/movie/donkey/donkey_4.jpg" alt="@User.Identity.Name"
                         style="max-width:300px;max-height:300px;">
                </div>
                <div class="col-lg-4 align-self-end">
                    <button class="rounded">
                        <img src="~/img/edit-regular.svg" width="30" height="30">
                    </button>
                    <button class="rounded">
                        <img src="~/img/trash-alt-solid.svg" width="30" height="30" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
