@section pageTitle {
    <span>Password Reset</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
        Log in
    </a>

    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}

<h4>Your password has been reset. <a asp-action="Login" asp-controller="Account">Click here</a> to login</h4>
