@model ResetPasswordModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Password Reset</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
        Log in
    </a>

    <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">
        Sign up
    </a>
}

<div class="col-xs-1" align="center">
    <h5 class="bg-primary text-white text-center p-2 w-50">Password Reset</h5>

    <div class="m-1 p-1 w-50">
        <div class="text-danger" asp-validation-summary="All" align="left"></div>

        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group" align="left">
                <label asp-for="Password"></label>
                <div asp-validation-for="Password" class="text-danger"></div>
                <input asp-for="Password" type="password" class="form-control" />
            </div>

            <div class="form-group" align="left">
                <label asp-for="PasswordConfirm"></label>
                <div asp-validation-for="Name" class="text-danger"></div>
                <input asp-for="PasswordConfirm" class="form-control" />
            </div>

            <button class="btn btn-primary" type="submit">Reset</button>
        </form>
    </div>
</div>
