@model SignupModel
@{
    Layout = "_Layout";
}
@section pageTitle {
    <span>Sign up</span>
}
@section status {
    <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">
        Log in
    </a>
}
<h5 class="bg-primary text-white text-center p-2">Sign up</h5>
